In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('amount.csv')

In [11]:
df['amount'] = df['amount'].apply(''.join).str.replace('[^A-Za-z0-9\s]+', '')

In [8]:
df['amount'] = pd.to_numeric(df['amount'], error)

In [12]:
df

    amount
0      123
1    12345
2      345
3    12300
4   234500
5  3212200
6   456700
7      234
8      adv