# Querying a DataFrame

In [1]:
# Boolean masking is the heart of fast and efficient querying in NumPy.
# It's analogous a bit to masking used in other computational areas.

In [4]:
# Loding the Data Set
import pandas as pd
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)

In [5]:
# Setting up the column name
for col in df.columns:
    if col[:2] == '01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace = True)
    if col[:2] == '02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace = True)
    if col[:2] == '03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace = True)
    if col[:1] == '#':
        df.rename(columns={col:'#'+col[4:]}, inplace = True)
df.head()

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [7]:
# For instance, in our Olympics data set,
# you might be interested in seeing only those countries who have achieved a gold medal at the summer Olympics
df['Gold'] > 0
# > (greater than sign is broadcasting), and the result is the series

Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                    True
Australasia (ANZ) [ANZ]                          True
Australia (AUS) [AUS] [Z]                        True
Austria (AUT)                                    True
Azerbaijan (AZE)                                 True
Bahamas (BAH)                                    True
Bahrain (BRN)                                   False
Barbados (BAR) [BAR]                            False
Belarus (BLR)                                    True
Belgium (BEL)                                    True
Bermuda (BER)                                   False
Bohemia (BOH) [BOH] [Z]                         False
Botswana (BOT)                                  False
Brazil (BRA)                                     True
British West Indies (BWI) [BWI]                 False
Bulgaria (BUL) [H]                               True
Burundi (BDI)                                    True
Cameroon (CMR)                                   True
Canada (CAN)                                     True
Chile (CHI) [I]                                  True
China (CHN) [CHN]                                True
Colombia (COL)                                   True
Costa Rica (CRC)                                 True
Ivory Coast (CIV) [CIV]                         False
Croatia (CRO)                                    True
Cuba (CUB) [Z]                                   True
Cyprus (CYP)                                    False
                                                ...
Sri Lanka (SRI) [SRI]                           False
Sudan (SUD)                                     False
Suriname (SUR) [E]                               True
Sweden (SWE) [Z]                                 True
Switzerland (SUI)                                True
Syria (SYR)                                      True
Chinese Taipei (TPE) [TPE] [TPE2]                True
Tajikistan (TJK)                                False
Tanzania (TAN) [TAN]                            False
Thailand (THA)                                   True
Togo (TOG)                                      False
Tonga (TGA)                                     False
Trinidad and Tobago (TRI) [TRI]                  True
Tunisia (TUN)                                    True
Turkey (TUR)                                     True
Uganda (UGA)                                     True
Ukraine (UKR)                                    True
United Arab Emirates (UAE)                       True
United States (USA) [P] [Q] [R] [Z]              True
Uruguay (URU)                                    True
Uzbekistan (UZB)                                 True
Venezuela (VEN)                                  True
Vietnam (VIE)                                   False
Virgin Islands (ISV)                            False
Yugoslavia (YUG) [YUG]                           True
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                             True
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, dtype: bool

In [19]:
# More good to achieve
only_gold = df[df["Gold"] > 0]
print("\n")
print(only_gold.head(),'Total count','\t' ,len(only_gold))

                           № Summer  Gold  Silver  Bronze  Total  № Winter  \
Algeria (ALG)                    12     5       2       8     15         3
Argentina (ARG)                  23    18      24      28     70        18
Armenia (ARM)                     5     1       2       9     12         6
Australasia (ANZ) [ANZ]           2     3       4       5     12         0
Australia (AUS) [AUS] [Z]        25   139     152     177    468        18

                           Gold.1  Silver.1  Bronze.1  Total.1  № Games  \
Algeria (ALG)                   0         0         0        0       15
Argentina (ARG)                 0         0         0        0       41
Armenia (ARM)                   0         0         0        0       11
Australasia (ANZ) [ANZ]         0         0         0        0        2
Australia (AUS) [AUS] [Z]       5         3         4       12       43

                           Gold.2  Silver.2  Bronze.2  Combined total
Algeria (ALG)                   5         2         8              15
Argentina (ARG)                18        24        28              70
Armenia (ARM)                   1         2         9              12
Australasia (ANZ) [ANZ]         3         4         5              12
Australia (AUS) [AUS] [Z]     144       155       181             480   Total count 	 100

In [37]:
# More complex i.e bitwise operator with boolean operator
# Question 
# For instance, we could create a mask for all of those countries who have received a gold in the summer Olympics 
# and bitwise or that with all of those countries who have received a gold in the winter Olympics.
# Use of multiple of boolean inside the one df, plz note the syntax
len(df[(df['Gold']> 0) | (df['Gold.1']> 0)])

101

In [36]:
# Country only win the gold in Winter Olpmpic and never in the Summer Olympic
(df[(df['Gold.1']>0) & (df['Gold']==0)]).head()

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

In [38]:
# Extremely important, remember that each Boolean mask needs to be encased in parenthesis 
# because of the order of operations.

In [48]:
# Next tricky Question
# Write a query to return all of the names of the people who bought worth more than $3.00
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df1 = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
# Query Code
print(df1[df1['Cost'] > 3.00].iloc[:, 2])
print('\nOther Way\n')
print(df1[df1['Cost'] > 3.00]['Name'])
print('\n More other Way')
print(df1['Name'][df1['Cost']>3])

Store 1    Chris
Store 2    Vinod
Name: Name, dtype: object

Other Way

Store 1    Chris
Store 2    Vinod
Name: Name, dtype: object

 More other Way
Store 1    Chris
Store 2    Vinod
Name: Name, dtype: object